polars~=0.16.17
pandas~=1.5.3
scikit_optimize
xgboost~=1.7.5
scipy~=1.10.1
yfinance~=0.2.12
statsmodels~=0.13.5
seaborn
keras
pyarrow==11.0.0
numpy~=1.23.5
matplotlib~=3.7.0
scikit-learn~=1.2.2
requests~=2.28.2
beautifulsoup4~=4.11.2